<div class="navigation-bar desktop-view">
    <img class="toolbar-logo" src="./assets/images/logo.svg" href=".">
  <mat-toolbar class="end-icon toolbar-desktop">
    <span class="fill-remaining"></span>
    <div class="dis-part">
      <span>Distribution Partner</span>
       <span class="fill-200px"></span>
      <button mat-raised-button color="primary">Login</button>
    </div>
  </mat-toolbar>
  <mat-toolbar class="end-icon">
    <button mat-button *ngFor="let item of iconItems" >{{ item.text }}</button>
  </mat-toolbar>
</div>

<div class="navigation-bar mobile-view">
  <img class="toolbar-logo" src="./assets/images/logo.svg" href=".">
  <mat-toolbar class="end-icon">
    <button mat-icon-button [matMenuTriggerFor]="posXMenu" aria-label="Open x-positioned menu">
      <span class="fill-remaining"></span>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu xPosition="before" #posXMenu="matMenu">
    <button mat-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
      {{ item.text }}
    </button>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Distribution Partner</mat-card-title>
        <mat-card-subtitle class="noMargin">
          <button mat-raised-button color="primary">Login</button>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-menu>
</div>

<!-- <router-outlet></router-outlet> -->
