<div class="navigation-bar desktop-view">
    <img class="toolbar-logo" src="./assets/images/logo.svg" href=".">
  <md-toolbar class="end-icon toolbar-desktop">
    <span class="fill-remaining"></span>
    <div class="dis-part">
      <span>Distribution Partner</span>
       <span class="fill-200px"></span>
      <button md-raised-button color="primary">Login</button>
    </div>
  </md-toolbar>
  <md-toolbar class="end-icon">
    <button md-button *ngFor="let item of iconItems" >{{ item.text }}</button>
  </md-toolbar>
</div>

<div class="navigation-bar mobile-view">
  <img class="toolbar-logo" src="./assets/images/logo.svg" href=".">
  <md-toolbar class="end-icon">
    <button md-icon-button [mdMenuTriggerFor]="posXMenu" aria-label="Open x-positioned menu">
      <span class="fill-remaining"></span>
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>

  <md-menu xPosition="before" #posXMenu="mdMenu">
    <button md-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
      {{ item.text }}
    </button>
    <md-card class="card">
      <md-card-header>
        <md-card-title>Distribution Partner</md-card-title>
        <md-card-subtitle class="noMargin">
          <button md-raised-button color="primary">Login</button>
        </md-card-subtitle>
      </md-card-header>
    </md-card>
  </md-menu>
</div>

<!-- <router-outlet></router-outlet> -->
