<div class="navigation-bar navbar" color="primary">
  <br>
  <div class="row">
    
    
    <div class="col-12 col-md-8 col-xl-3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.725484958479!2d116.41379531543281!3d39.925159093312224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0532a653eaf43%3A0x30605f7082f7f37e!2z6ZqG56aP5a-66KGXMzHlj7fpmaI!5e0!3m2!1sen!2sus!4v1506630735347" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-12 col-md-4 col-xl-3">
      <p>
          中文名称：北京六艺九州科技有限公司<br>
          <a href="https://www.google.com/maps/place/%E9%9A%86%E7%A6%8F%E5%AF%BA%E8%A1%9731%E5%8F%B7%E9%99%A2/@39.925155,116.417422,15z/data=!4m5!3m4!1s0x0:0x30605f7082f7f37e!8m2!3d39.925155!4d116.415984?hl=en-US">
            Address：北京市东城区连丰胡同31号
          </a><br><br>
          Name: VARITRIP INC.<br>
          <a href="https://www.google.com/maps/place/%E9%9A%86%E7%A6%8F%E5%AF%BA%E8%A1%9731%E5%8F%B7%E9%99%A2/@39.925155,116.417422,15z/data=!4m5!3m4!1s0x0:0x30605f7082f7f37e!8m2!3d39.925155!4d116.415984?hl=en-US">
            Address：No.31 Lian Feng Hu Tong,<br>
            Dong Cheng District,<br>
            Beijing, 100010, China
          </a><br><br>
          <!-- EMAIL:<br>
        <a href="mailto:info@varitrip.com">
          info@varitrip.com
        </a> -->
      </p>
    </div>

    <div class="col-12 col-md-12 col-xl-4">
      <p>
        <!-- Customer service / Reservation emergency<br><br> -->
        <b>CUSTOMER SERVICE / RESERVATION EMERGENCY</b><br>
        Our Customer Service is available 6:00-24:00 (CCT) in English and Chinese every day.<br><br>
        Contact information:<br>
        Email：<a href="mailto:support@varitrip.com">support@varitrip.com</a><br>
        QQ：3519967985<br>
        China Phone (Chinese 中文): <a href="tel:+8613601276031">(+86) - 136 0127-6031</a><br>
        China Phone (English): <a href="tel:+8613501309081">(+86) - 135 0130-9081</a><br>
        U.S Phone: <a href="tel:18082033586">1.808.203.3586</a><br><br>
      </p>
    </div>
    <div class="col-12 col-md-12 col-xl-2">
      <p>
        <b>GENERAL INQUIRIES:</b><br>
        <a href="mailto:info@varitrip.com">
            info@varitrip.com
        </a>
      </p>
    </div>

  </div>
    <span>© Copyright Varitrip Inc.</span>

</div>