<div class="container message parallax">
  <div class="row">
    <div class="col-1 col-xl-2"></div>
    <div class="col-10 col-xl-8 message-content">
        <div>
          <h1>
            Easily
            <br>
            Connect & Sell
          </h1>
        </div>
        <div>
          <h3>The World’s Leading B2B China Inbound GDS</h3>
        </div>
        <div class="take-away">
          <p>
          Providing travel clients with the largest range of Chinese tourism products - Now equipped with global products too
          </p>
          <button md-raised-button color="primary" (click)="goToContactUs()">Email us</button>
        </div>
    </div>
    <div class="col-1 col-xl-2"></div>
    <div class="static-text">
      <h4>
        Connect – Access – Sell
      </h4>
    </div>
  </div>
</div>
