<div class="container message parallax">
  <div class="row">
    <div class="col-1 col-xl-2"></div>
    <div class="col-10 col-xl-8 message-content">
        <div>
          <h1 [innerHTML]="showText[language][0]">
          </h1>
        </div>
        <div>
          <h3 [innerHTML]="showText[language][1]"></h3>
        </div>
        <div class="take-away">
          <p [innerHTML]="showText[language][2]"></p>
          <button md-raised-button color="primary" (click)="goToContactUs()" [innerHTML]="showText[language][3]"></button>
        </div>
    </div>
    <div class="col-1 col-xl-2"></div>
    <div class="static-text">
      <h4 [innerHTML]="showText[language][4]"></h4>
    </div>
  </div>
</div>
