.parallax {
    background-image: url("/assets/images/above-the-fold-bg-mobile.png");
}

.static-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  
  h4 {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #3b5698;
    color: #ffffff;
  }
}

.message-content {
  margin-top: 32px;
  margin-bottom: 64px;
}

.take-away {
  max-width: 500px;
}

h1 {
  font-size: 72px;
  line-height: 100px;
}

h1, h3, p {
  text-shadow: 2px 2px #000000;
  color: #ffffff;
}

.container {
  width: 100%;
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: -1;
}

@media (max-width: 600px) {
  .parallax {
    min-height: calc(100vh - 56px);
    background-image: url("/assets/images/above-the-fold-bg-mobile.png");
  }

  .take-away {
    margin: 0 auto;
  }

  .message {
    text-align: center;
    // margin: 0 auto;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .parallax {
    min-height: calc(100vh - 56px);
    background-image: url("/assets/images/above-the-fold-bg-tablet.png");
  }

  .take-away {
    margin: 0 auto;
  }

  .message {
    text-align: center;
    // margin: 0 auto;
  }

  .message-content {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .parallax {
    background-image: url("/assets/images/above-the-fold-bg-1920.png");
  }

  .message-content {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .take-away {
    float:right;
  }

  .message {
    text-align: right;
  }
}

@media (min-width: 1920px) {
  .parallax {
    background-image: url("/assets/images/above-the-fold-bg.png");
  }

  .message-content {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .take-away {
    float:right;
  }

  .message {
    text-align: right;
  }
}
