<div class="container">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-12 col-md-12 col-xl-8 content">
      <div class="row">
          <!-- <div class="row"> -->
            <div class="col-12 col-md-6 col-xl-4">
              <div class="image-center">
                <button md-fab color="accent">
                  <img src="./assets/images/gears-2.png">
                </button>
              </div>
              <br>
              <h2>
                Free Setup
              </h2>
              <br>
              <p>
                At Varitrip, we don’t charge any set up or monthly fee as we believe this fixed cost model way of doing business is one sided and outdated.  Payables are incurred only when a transaction has been completed.
              </p>
              <br>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="image-center">
                <button md-fab color="accent">
                  <img class="image-small" src="./assets/images/user.png">
                </button>
              </div>
              <br>
              <h2 class="text-center">
                Single Account
              </h2>
              <br>
              <p>
                We know managing multiple suppliers is time consuming which is why we made it easy with just one account to access hundreds of products.
              </p>
              <br>
            </div>

            <div class="col-12 col-md-6 col-xl-4">
              <div class="image-center">
                <button md-fab color="accent">
                  <img src="./assets/images/247.png">
                </button>
              </div>
              <br>
              <h2>
                24/7 Support
              </h2>
              <br>
              <p>
                Having a customer-product related issue? Not to worry! Our staff is available 24 hours, 7 days a week to offer you support.
              </p>
            </div>
          <!-- </div> -->
      </div>
    </div>
     <div class="col-xl-2"></div>
  </div>
</div>
