<div class="container">
  <div class="row">
    <div class="col-xl-2"></div>
     <div class="col-md-2 md-only"></div> 
    <div class="col-12 col-md-8 col-xl-8 content no-bottom-margin">
      <br>
      <h1>
        Easy Integration & Booking Process
      </h1>
      <br>
      <div class="image-center">
        <img class="image-large" src="./assets/images/plug.png">
      </div>
      <br>
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-12 col-xl-8">
        <p>
          Plug into our network made up of hundreds of suppliers and destination management companies.
        </p>
        </div>
      <div class="col-xl-2"></div>
      </div>
    </div>
    <div class="col-xl-2"></div> 
    <div class="col-md-2 md-only"></div>  
  </div>

  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-12 col-md-6 col-xl-4 content no-bottom-margin">
      <div class="image-center">
        <img class="image-small" src="./assets/images/api.png">
      </div>
      <br>
      <h2>
        API
      </h2>
      <br>
      <p>
        We have a complete suit of content APIs ready to be deployed to give the most flexible and efficient way to work with our inventory.<br><br>
        In addition to our content APIs, we also have a full suite of sales APIs to power fast checkout and confirmation, all for a smooth booking process.
      </p>
    </div>

    <div class="col-12 col-md-6 col-xl-4 content">
      <div class="image-center">
        <img class="image-small" src="./assets/images/chrome.png">
        </div>
        <br>
        <h2>
          Web App
        </h2>
        <br>
      <p>
        Use a single account to access and book products through our easy-to-use and navigate secure web-login access.<br><br>
        Through your access, you are able to browse and book products and also download product details and images.
      </p>
    </div>
     <div class="col-xl-2"></div>
  </div>
</div>
