<div class="navigation-bar desktop-view">
    <img class="toolbar-logo" src="./assets/images/logo.svg" href=".">
  <md-toolbar class="end-icon toolbar-desktop">
    <span class="fill-remaining"></span>
    <div class="dis-part">
      <a md-raised-button color="primary" href="http://pos.varitrip.com">Distribution Partner Login</a>
    </div>
  </md-toolbar>
  <md-toolbar class="end-icon">
    <a md-button *ngFor="let item of iconItems" (click)="goToElement(item.text)">{{ item.text }}</a>
  </md-toolbar>
</div>

<div class="navigation-bar mobile-view">
  <img class="toolbar-logo" src="./assets/images/logo.svg" href=".">
  <md-toolbar class="end-icon">
      <!-- <div class="language en" (click)="changeLanguage('en')"></div>
      <div class="language cn" (click)="changeLanguage('cn')"></div> -->
    <button md-icon-button [mdMenuTriggerFor]="posXMenu" aria-label="Open x-positioned menu">
      <span class="fill-remaining"></span>
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  
  <md-menu xPosition="before" #posXMenu="mdMenu">
    <a md-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled" (click)="goToElement(item.text)">
      {{ item.text }}
    </a>
    <md-card class="card">
      <md-card-header>
        <md-card-subtitle class="noMargin">
          <a md-raised-button color="primary" href="http://pos.varitrip.com">Distribution Partner Login</a>
        </md-card-subtitle>
      </md-card-header>
    </md-card>
  </md-menu>
</div>

<app-above-thefold></app-above-thefold>
<div id="{{ iconItems[0].text }}"></div>
<app-core-offerings></app-core-offerings> 
<div id="{{ iconItems[1].text }}"></div>
<app-why-us></app-why-us> 
<div id="{{ iconItems[2].text }}"></div>
<app-map></app-map>
<div id="{{ iconItems[3].text }}"></div>
<app-integration></app-integration> 
<div id="{{ iconItems[4].text }}"></div>
<app-curated-results></app-curated-results> 
<div id="{{ iconItems[5].text }}"></div>
<app-automated-process></app-automated-process> 
<app-extra-features></app-extra-features> 
<div id="contact-us"></div>
<app-contact-us></app-contact-us> 
<app-footer></app-footer> 