.language {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 8px;
    margin-left: 8px;
    display: inline-block
}

.en {
    background-image: url('/assets/images/en_image.svg');
 }
 
.en:hover {
    background-image: url('/assets/images/en_text.svg');
}

.cn {
    background-image: url('/assets/images/cn_image.svg');
 }
 
.cn:hover {
    background-image: url('/assets/images/cn_text.svg');
}

.end-icon {
    align-items: flex-end;
}

.toolbar {
.fill-remaining {
    flex: 1 1 auto;
}
}

.demo-sidenav-container {
min-width: 320px;
min-height: 100vh;

.mat-sidenav-focus-trap > .cdk-focus-trap-content {
    padding: 10px;
}
}

.demo-sidenav-content {
padding: 15px;
}

.mat-fab.mat-accent {
    background-color: transparent;
    box-shadow: none;
}

.mat-sidenav {
    min-width: 320px;
}

.card {
    color: gray;
    border-top: 1px;
}

.noMargin {
    margin-bottom: 0;
}

.fill-200px {
    margin-right: 200px;
}

.toolbar-logo {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;

    -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
    background-color: #3A549A;
}

@media (max-width: 600px) {
    .desktop-view {
        display: none;
    }

    .toolbar-logo {
        height: 56px;
        width: auto;
        padding: 12px;
        padding-right: 24px;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .desktop-view {
        display: none;
    }

    .toolbar-logo {
        height: 64px;
        width: auto;
        padding: 12px;
        padding-right: 24px;
    }
}

@media (min-width: 1200px) {
    .mobile-view {
        display: none;
    }

    .toolbar-logo {
        height: 128px;
        width: auto;
        padding: 30px;
        padding-right: 60px;
    }
}
