<div class="container">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-md-2 md-only"></div> 
    <div class="col-12 col-md-8 col-xl-8 content">
      <h1>
        Contact us
      </h1>
      <br>
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-12 col-xl-8">
        <p>
          Let us show you how we can <b>increase your revenue stream</b> and <b>improve your product selection</b>.  Simply fill out the form below and a Varitrip team member will contact you.
        </p>
        </div>
        <br>
      <div class="col-xl-2"></div>
      </div>
      <div class="image-center">
        <form class="example-form" (ngSubmit)="onSubmit({fname: fname.value, lname: lname.value, cname: cname.value, email: email.value})">
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-input-container class="example-full-width">
              <input matInput #fname placeholder="First name" name="First name">
            </mat-input-container></td> 
            <td><mat-input-container class="example-full-width">
              <input matInput #lname placeholder="Last Name"  name="Last name">
            </mat-input-container></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-input-container class="example-full-width">
              <input matInput #cname placeholder="Company Name"  name="Company name">
            </mat-input-container></td> 
            <td><mat-input-container class="example-full-width">
              <input matInput #email placeholder="Email" name="Email">
            </mat-input-container></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
            <td>
              <button mat-raised-button color="primary" type="submit" [disabled]="isSending">Submit</button>
            </td>
          </tr></table>
        </form>
      </div>
    </div>
    <div class="col-md-2 md-only"></div>  
    <div class="col-xl-2"></div> 
  </div>

</div>