/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
$mat-primary: (
  50: #3A549A,
  100: #3A549A,
  200: #3A549A,
  300: #3A549A,
  400: #3A549A,
  500: #3A549A,
  600: #3A549A,
  700: #3A549A,
  800: #3A549A,
  900: #3A549A,
  A100: #3A549A,
  A200: #3A549A,
  A400: #3A549A,
  A700: #3A549A,
  contrast: (
          50: $black-87-opacity,
          100: $black-87-opacity,
          200: $black-87-opacity,
          300: $black-87-opacity,
          400: $black-87-opacity,
          500: white,
          600: white,
          700: white,
          800: $white-87-opacity,
          900: $white-87-opacity,
          A100: $black-87-opacity,
          A200: $black-87-opacity,
          A400: $black-87-opacity,
          A700: $black-87-opacity,
  )
);

$mat-accent: (
  50: #3A549A,
  100: #3A549A,
  200: #3A549A,
  300: #3A549A,
  400: #3A549A,
  500: #3A549A,
  600: #3A549A,
  700: #3A549A,
  800: #3A549A,
  900: #3A549A,
  A100: #3A549A,
  A200: #3A549A,
  A400: #3A549A,
  A700: #3A549A,
  contrast: (
          50: $black-87-opacity,
          100: $black-87-opacity,
          200: $black-87-opacity,
          300: $black-87-opacity,
          400: $black-87-opacity,
          500: white,
          600: white,
          700: white,
          800: $white-87-opacity,
          900: $white-87-opacity,
          A100: $black-87-opacity,
          A200: $black-87-opacity,
          A400: $black-87-opacity,
          A700: $black-87-opacity,
  )
);
$primary: mat-palette($mat-primary);
$accent:  mat-palette($mat-accent);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.mat-menu-content {
    padding-bottom: 0 !important;
}

// .mat-toolbar-row {
//   border-bottom: 1px solid #ccc;
//   padding-bottom: 8px;
// }

body {
  margin: 0;
  
  h2, h3, h4, h5, p, span {
    font-family: 'Work Sans', sans-serif;
  }

  h1 {
    font-family: 'Pacifico', cursive;
  }
}

.content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.with-top-margin {
  margin-top: 2.5rem;
}

.mat-button-wrapper {
  padding: 0px !important;
  display: inline !important;
}

.fill-remaining {
    flex: 1 1 auto;
  }

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-fab {
  height: 84px !important;
  width: 84px !important;
}

.datamaps-hoverover {
  color: black !important;
}

mat-dialog-container {
  max-height: 80vh;
}

@media (max-width: 600px) {
  .parallax {
      // min-height: calc(100vh - 64px);
      background-attachment:initial;
  }

  .xl-only {
    display: none;
  }

  .md-only {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .parallax {
      // min-height: calc(100vh - 64px);
  }

  .mobile-only {
    display: none;
  }

  .xl-only {
    display: none;
  }
}

@media (min-width: 1200px) {
  .parallax {
      // height: calc(100vh - 128px);
  }

  .mobile-only {
    display: none;
  }

  .md-only {
    display: none;
  }
}
